/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



/*app new*/
body{
    background-color: #EFEFF0;
    background-image: none;
    -webkit-overflow-scrolling: touch;
}
img{
    width: 100%;
    vertical-align: top;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15.6%;
    z-index: 3;
}
.header .line{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 20px;
    background-color: #000;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
}
.header.move-out .line{
    opacity: 1;
}
.header .pic{
    background: url(../img/bg-top.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
}
.header.move-out .pic{
    -webkit-transform: translateY(-124px);
    transform: translateY(-124px);
    opacity: 0;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 3;
}
.footer.move-out{
    -webkit-transform: translateY(88px);
    transform: translateY(88px);
    opacity: 0;
}
.main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 0;
}
.main .main-bg{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.main .main-bg span{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.main .main-bg .cur{
    z-index: 2;
    opacity: 1;
}
.main .main-bg .bg1{
    background-image: url(../img/bg1.png);
}
.main .main-bg .bg2{
    background-image: url(../img/bg2.png);
}
.main .main-bg .bg3{
    background-image: url(../img/bg3.png);
}
.main .main-bg .bg4{
    background-image: url(../img/bg4.png);
}
.main-p10{
    padding: 0 10px;
}


.wrapper{
    position: relative;
    z-index: 5;
    padding-bottom: 40px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

/*banner*/
.banner{
    position: relative;
    padding-top: 51.6%;
    overflow: hidden;
}
.banner .banner-pics{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.banner li{
    float: left;
}
.banner .dots{
    position: absolute;
    bottom: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.banner .dots li{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #E1E1E2;
    margin-right: 5px;
}
.banner .dots .cur{
    background-color: #EB332C;
}

.seckill{
    overflow: hidden;
    position: relative;
    padding: 0 10px;
}
.seckill .hd{
    position: absolute;
    left: 21.5%;
    top: 18.5%;
    width: 23%;
    height: 38%;
}
.seckill .hd span{
    display: inline-block;
    font-size: 13px;
    margin-right: 3%;
    width: 26%;
    height: 20%;
    line-height: 20px;
    text-align: center;
}
/*隐藏滚动条*/
.seckill .items-con::-webkit-scrollbar {display:none;}
.seckill .items-con{
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #FFF;
    position: relative;
    /*-webkit-overflow-scrolling: auto;*/
    -webkit-transform: translate3d(0, 0, 0);
}
.seckill .items img{
    float: left;
}
.seckill .percent{
    position: absolute;
    background-color: #FFF;
    left: 0;
    bottom: 2px;
    height: 20px;
    right: 0;
    font-size: 11px;
    display: none;
}
.seckill .percent span{
    display: inline-block;
    /*background-color: yellow;*/
    /*float: left;*/
    height: 14px;
    line-height: 14px;
    /*opacity: 0.5;*/
    position: relative;
    color: #F63732;
}
.seckill .percent span:before, .seckill .percent i{
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    height: 1px;
    background-color: #F1F1F1;
}
.seckill .percent span:before{
    right: 0;
}
.seckill .percent i, .seckill .percent em{
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.seckill .percent i{
    display: block;
    background-color: #F63732;
    width: 0;
}
.seckill .percent span em{
    display: none;
    font-style: normal;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: #FFF;
    padding: 0 2px;
}
/*subs*/
.container{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.container.moving{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.sub-pages{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    overflow-y: auto;
}
.sub-pages img{
    display: none;
}
.sub-pages .show{
    display: block !important;
}
.sub-pages.moving{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.sub-pages .back, .sub-pages .txt:before{
    display: block;
    width: 60px;
    height: 55px;
    position: absolute;
    left: 0px;
    top: 20px;
}
.sub-pages .back{
    z-index: 2;
}
.sub-pages .txt{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    display: none;
}
.sub-pages .txt:before{
    content: '<返回';
    position: absolute;
    left: 0;
    top: 0px;
    color: gray;
}
/*go-link*/
.main-content{
    position: relative;
}
.link-con{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    bottom: 0;
}
.link-con .go-sub, .go-f1-more{
    opacity: 0.15;
    height: 6.6%;
    position: absolute;
    display: block;
}
.go-sub:active{
    background-color: #000;
}
.go-f1-1:active{
    background-color: #FFF;
}
.go-f1-2, .go-f1-3, .go-f1-4, .go-f1-5{
    width: 25%;
    height: 5.6% !important;
    left: 0;
    top: 0;
}
.go-f1-3{
    left: 25%;
}
.go-f1-4{
    left: 50%;
}
.go-f1-5{
    left: 75%;
}
.go-f2-1{
    left: 0;
    top: 7.5%;
    width: 33%;
}
.go-f2-1, .go-f2-3, .go-f2-4, .go-f2-5{
    left: 0;
    top: 14.1%;
    width: 33%;
}
.go-f2-1, .go-f2-2{
    top: 7.5%;
}
.go-f2-2{
    width: 67%;
    left: 33%;
}
.go-f2-4{
    left: 33%;
}
.go-f2-5{
    left: 66%;
    width: 34%;
}

.go-f3-1, .go-f3-5{
    width: 100%;
    top: 22.5%;
    left: 0;
}
.go-f3-5{
    top: 35.8%;
}
.go-f3-2, .go-f3-3, .go-f3-4{
    width: 33%;
    left: 0;
    top: 29.2%;
}
.go-f3-3{
    left: 33%;
}
.go-f3-4{
    width: 34%;
    left: 66%;
}
.go-f4-1, .go-f4-2, .go-f4-3, .go-f4-4{
    width: 50%;
    left: 0;
    top: 44.5%;
}
.go-f4-3, .go-f4-4{
    top: 51.1%;
}
.go-f4-2, .go-f4-4{
    left: 50%;
}
.go-f4-5, .go-f4-6, .go-f4-7, .go-f4-8,
.go-f4-9, .go-f4-10, .go-f4-11, .go-f4-12{
    width: 25%;
    left: 0;
    height: 5.6% !important;
}
.go-f4-5, .go-f4-6, .go-f4-7, .go-f4-8{
    top: 57.6%;
}
.go-f4-9, .go-f4-10, .go-f4-11, .go-f4-12{
    top: 63.3%;
}
.go-f4-6, .go-f4-10{
    left: 25%;
}
.go-f4-7, .go-f4-11{
    left: 50%;
}
.go-f4-8, .go-f4-12{
    left: 75%;
}
.go-f1-more{
    right: 10px;
    width: 17%;
    top: 0;
    height: 13%;
}
.go-f2-0, .go-f3-0, .go-f4-0{
  height: 1.2% !important;
  top: 6.3%;
  right: 0;
  width: 23%;
}
.go-f3-0{
    top: 21.4%;
    width: 13%;
}
.go-f4-0{
    top: 43.3%;
    width: 13%;
}